.navbar-nav .nav-link.active{
    color: #fff;
}

.nav-link {
    text-align: center;
}

section{
    padding-top: 0;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}

img{
    max-width: 100%
}